<mat-card>
    <mat-card-title>Signup</mat-card-title>
    <mat-card-content>
      <div class="form-row">
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" required>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" required>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="signup()">Signup</button>
    </mat-card-actions>
  </mat-card>