<mat-nav-list>
  <div class="logo">
    <img src="./assets/logo.jpg" alt="Company Logo" class = "img" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user"> 
    <mat-icon>face</mat-icon> User Management 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/content"> 
    <mat-icon>edit</mat-icon> Content Management 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/analytics"> 
    <mat-icon>work</mat-icon> Analytics and Reporting 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings"> 
    <mat-icon>settings</mat-icon> Settings and Configuration 
  </a>
</mat-nav-list>